:root {
  --defBG: rgb(50, 50, 50);
  --girl: rgb(245, 1, 249);
  --boy: rgb(1, 216, 249);
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hide;

  margin: 0;

  background-color: var(--defBG);
  color: white;
  font-family: sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 200px;
  height: 75px;
  background-color: antiquewhite;
  border: 1px solid aliceblue;
  border-radius: 4px;

  font-size: 32px;
}
img {
  width: 250px;
  height: 250px;
  border: 6px black solid;
  border-radius: 8px;
}
button {
  pointer-events: auto;
}

.formContainer {
  height: 80vh;
  width: 80vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(36, 36, 36);
  border-radius: 16px;
  border: 2px solid white;
  padding: 25px;
}

.inputName,
.gender {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.genderButton {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 32px;
}

.gender input {
  width: 45%;
  border-radius: 32px;
}
.emptyDiv {
  width: 10%;
}
.boyButton {
  background-color: var(--boy);
  box-shadow: 0px 0px 5px var(--boy), 0px 0px 15px var(--boy), 0px 0px 25px var(--boy), 0px 0px 50px var(--boy);
}
.girlButton {
  background-color: var(--girl);
  box-shadow: 0px 0px 5px var(--girl), 0px 0px 15px var(--girl), 0px 0px 25px var(--girl), 0px 0px 50px var(--girl);
}
.boyButton:hover,
.girlButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.submitButton {
  width: 150px;
  height: 50px;
  font-size: 28px;
  font-family: sans-serif;
  font-weight: bolder;
  border-radius: 16px;
  border: 4px solid black;
  z-index: 100;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.infoContainer {
  position: relative;
  background: linear-gradient(360deg, rgba(255, 105, 223, 1) 0%, rgba(131, 216, 255, 1) 100%);
  border: 3px dashed white;
  padding: 32px;
  border-radius: 32px;
  color: black;
}
.pageButton {
  margin-top: 8px;
  width: 100px;
  height: 50px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 16px;
  border: 1px solid white;
  background-color: burlywood;
}
